* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white; }

body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, rgba(252, 170, 201, 0.7), rgba(29, 43, 100, 0.7)), url("../images/img.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover; }

html {
  font-size: 100%; }

a:active, a:link, a:hover {
  text-decoration: none; }

.font-small {
  font-size: .85rem; }

.u-margin-top-neg-1 {
  margin-top: -1rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-color-pink {
  color: #f9478a !important; }

.u-color-blue {
  color: #1d2b64 !important; }

.u-color-light-blue {
  color: #0025ff !important; }

header {
  margin-top: 1rem; }
  header .title {
    font-family: 'Alex Brush', cursive;
    font-size: 3rem; }
  header .second-title {
    margin-top: 1rem; }
  header .header-icons {
    font-size: 1.5rem; }
    header .header-icons ion-icon {
      margin-right: 1rem;
      transition: all .2s; }
      header .header-icons ion-icon:hover {
        font-size: 4rem; }
    header .header-icons [name="logo-facebook"]:hover {
      color: #3b5998; }
    header .header-icons [name="logo-instagram"]:hover {
      color: #c32aa3; }
    header .header-icons [name="logo-google"]:hover {
      color: #4285f4; }

.content {
  margin-top: 4rem; }
  .content__headings h1, .content__headings h5 {
    font-weight: lighter; }
  .content .col-lg-6 {
    margin: 0 auto; }
  .content .jumbotron {
    background-color: white;
    max-width: 100%;
    margin: auto; }
    .content .jumbotron ion-icon {
      color: black;
      font-size: 2rem; }
    .content .jumbotron .btn {
      background-color: #1d2b64;
      color: white;
      transition: background-color .1s; }
      .content .jumbotron .btn:hover {
        background-color: #f9478a; }
